{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-1">
        {{ form_start(feedback) }}
        {{ form_row(feedback.EmailHash) }}
        {{ sample|raw }}
        {{ form_row(feedback.send) }}
        {{ form_end(feedback) }}
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", frameReady);
        let frameHtml = document.getElementsByTagName('html')[0];
        let height = 'scrollHeight=' + frameHtml.scrollHeight + '&offsetHeight=' + frameHtml.offsetHeight + '&clientHeight=' + frameHtml.clientHeight;
        console.log(height);

        function frameReady() {
            window.parent.postMessage({
                'func': 'setFrameHeight',
                'message': height
            }, "*");
        }
    </script>

{% endblock %}
