{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-1">
        {{ form_start(feedback) }}
        {{ form_row(feedback.EmailHash) }}
        {{ sample|raw }}
        {{ form_row(feedback.send) }}
        {{ form_end(feedback) }}
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", frameReady);
        let html = document.getElementsByTagName('html')[0];

        function frameReady() {
            window.parent.postMessage({
                'func': 'setFrameHeight',
                'height': html.offsetHeight
            }, "*");
        }
    </script>

{% endblock %}
