{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-1">
        {{ form_start(feedback) }}
        {{ form_row(feedback.EmailHash) }}
        {{ sample|raw }}
        {{ form_row(feedback.send) }}
        {{ form_end(feedback) }}
    </div>

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript">
            let frameForm = document.getElementsByName('feedback')[0]

            window.parent.postMessage({
                'func': 'parentFunc',
                'message': frameForm.scrollHeight
            }, "*");
        </script>
    {% endblock %}

{% endblock %}
